In [97]:
import numpy as np
import pandas as pd
import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

extdatapath = '../Datasets/TaxiBJ/TAXIBJ.ext'
extdata = pd.read_csv(extdatapath)
extdata.head()

,ext_id,time,Temperature,WindSpeed,Weather0,Weather1,Weather2,Weather3,Weather4,Weather5,...,Weather7,Weather8,Weather9,Weather10,Weather11,Weather12,Weather13,Weather14,Weather15,Weather16
0,0,2013-02-01T02:00:00Z,-2.6,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2013-02-01T02:30:00Z,-2.6,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2013-02-01T03:00:00Z,-2.6,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2013-02-01T03:30:00Z,-2.6,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2013-02-01T04:00:00Z,-2.6,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [98]:
import datetime

date_format = '%Y-%m-%dT%H:%M:%SZ'
datetime.datetime(2013, 2, 1).weekday()
# add a day column: 0 = 'Monday', 1 = 'Tuesday', ... 6 = 'Sunday'
extdata.insert(2, 'day', pd.to_datetime(extdata['time'], format=date_format).dt.dayofweek)
extdata.head()

4

,ext_id,time,day,Temperature,WindSpeed,Weather0,Weather1,Weather2,Weather3,Weather4,...,Weather7,Weather8,Weather9,Weather10,Weather11,Weather12,Weather13,Weather14,Weather15,Weather16
0,0,2013-02-01T02:00:00Z,4,-2.6,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2013-02-01T02:30:00Z,4,-2.6,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2013-02-01T03:00:00Z,4,-2.6,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2013-02-01T03:30:00Z,4,-2.6,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2013-02-01T04:00:00Z,4,-2.6,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
# normalize temperatures to [-1, 1]
extdata['Temperature'] = 2* (extdata['Temperature'] - extdata['Temperature'].min())/(extdata['Temperature'].max() - extdata['Temperature'].min()) - 1
# normalize temperatures to [0, 1]
extdata['WindSpeed'] = (extdata['WindSpeed'] - extdata['WindSpeed'].min())/(extdata['WindSpeed'].max()-extdata['WindSpeed'].min())
extdata.head()

,ext_id,time,day,Temperature,WindSpeed,Weather0,Weather1,Weather2,Weather3,Weather4,...,Weather7,Weather8,Weather9,Weather10,Weather11,Weather12,Weather13,Weather14,Weather15,Weather16
0,0,2013-02-01T02:00:00Z,4,-0.54792,0.05787,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2013-02-01T02:30:00Z,4,-0.54792,0.05787,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2013-02-01T03:00:00Z,4,-0.54792,0.05787,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2013-02-01T03:30:00Z,4,-0.54792,0.05787,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2013-02-01T04:00:00Z,4,-0.54792,0.05787,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0